<div class="container mt-4">
  <mat-hint class="text-center d-block my-5 pt-2">Casos públicos cadastrados</mat-hint>

    <mat-card>
        <div class="row">
            <div class="col-2">
                <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
            </div>
            <div class="col">
                <h5 class="card-title">Título Exemplo</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-2">
                <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
            </div>
            <div class="col">
                <h5 class="card-title">Título alterado exemplo</h5>
                <p class="card-text">Phasellus elementum egestas quam. Morbi in velit a arcu lobortis...</p>
            </div>
        </div>
    </mat-card>


    <div class="text-right  m-3 fixed-bottom">
        <button mat-fab color="primary" class="fixed-bottom"> <i class="material-icons">create</i></button>
    </div>
</div>