<div class="container mt-4">
   <form #login="ngForm" >
    <mat-form-field class="w-100">
      <input matInput type="text" placeholder="Título" name="titulo" [(ngModel)]="titulo" required>
      <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput type="text" placeholder="Nome de quem você procura" name="nome" [(ngModel)]="nome" required>
      <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput type="number" placeholder="Idade" name="idade" [(ngModel)]="idade" required>
      <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
       <section class="example-section">
       <mat-checkbox class="" [(ngModel)]="caracteristica">Incluir Características</mat-checkbox>
   </section>

       <mat-form-field class="w-100">
      <textarea matInput type="text" placeholder="Conte sua história aqui..."
                name="historia" [(ngModel)]="historia" cols="5" rows="7" required></textarea>

           <button mat-button *ngIf="senha" matSuffix mat-icon-button aria-label="Clear" (click)="senha=null">
               <mat-icon>close</mat-icon>
           </button>
       </mat-form-field>
    <button mat-raised-button color="primary" class="w-100 mt-4">Alterar</button>
    <button mat-raised-button color="warn" class="w-100 mt-4 mb-4" (click)="teste()">Excluir</button>
  </form>
<div class="container-fluid mb-2">
    <div class="row" color="primary">
        <h5>Resultados</h5>
    </div>
    <div class="row">
        <mat-card class="w-100">
            <p>Titulo Resultado 1</p>
        </mat-card>
        <mat-card class="w-100">
            <p>Titulo Resultado 2</p>
        </mat-card>
        <mat-card class="w-100">
            <p>Titulo Resultado 3</p>
        </mat-card>
    </div>
</div>


</div>