<div class="container mt-4">
  <mat-hint class="display-4 text-center d-block my-5 pt-5">Investigator</mat-hint>

  <form #login="ngForm" >
    <mat-form-field class="w-100">
      <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="email">
      <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Senha" name="senha" [(ngModel)]="senha">
      <button mat-button *ngIf="senha" matSuffix mat-icon-button aria-label="Clear" (click)="senha=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-100">Entrar</button>
  </form>
  <mat-hint class="text-center d-block mt-4">Esqueceu a senha?</mat-hint>
  <mat-hint class="text-center d-block mt-1">ou</mat-hint>
  <mat-hint class="text-center d-block mt-1">Crie uma conta</mat-hint>

</div>
