<app-cabecalho-menu titulo="Casos Privados"></app-cabecalho-menu>
<!-- <app-formulario-publico></app-formulario-publico>
<app-editar-caso-publico></app-editar-caso-publico>
<app-area-de-casos-publicos></app-area-de-casos-publicos>
<app-area-de-casos-privados></app-area-de-casos-privados>
<app-formulario-privado></app-formulario-privado>
<app-editar-caso-privado></app-editar-caso-privado>
<app-caso-privado-detalhado></app-caso-privado-detalhado>-->
<app-reconhecimento-facial></app-reconhecimento-facial>



