<div class="container mt-4">
  <mat-hint class="text-center d-block my-5 pt-2">Reconhecimento Facial</mat-hint>

  <mat-card>
    <div class="row">
      <div class="col-2">
        <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
      </div>
      <div class="col">
        <h5 class="card-title">Exemplo Busca Por Reconhecimento Facial</h5>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="row">
      <div class="col-2">
        <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
      </div>
      <div class="col">
        <h5 class="card-title">Exemplo Busca Por Reconhecimento Facial 2</h5>
      </div>
    </div>
  </mat-card>


  <div class="text-right  m-3 fixed-bottom">
    <button mat-fab color="primary" class="fixed-bottom"> <i class="material-icons">create</i></button>
  </div>
</div>