<div class="container mt-4">
  <mat-hint class="text-center d-block my-4 pt-2">Casos privados cadastrados</mat-hint>

  <mat-card>
    <div class="row">
      <div class="col-2">
        <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
      </div>
      <div class="col">
        <h5 class="card-title">Exemplo Caso Privado</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="row">
      <div class="col-2">
        <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
      </div>
      <div class="col">
        <h5 class="card-title">Exemplo Caso Privado 2</h5>
        <p class="card-text">Phasellus elementum egestas quam. Morbi in velit a arcu lobortis...</p>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="row">
      <div class="col-2">
        <img class="img img-thumbnail" src="http://placehold.it/50x60" class="md-card-image" alt="image caption"/>
      </div>
      <div class="col">
        <h5 class="card-title">Exemplo Caso Privado 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </div>
    </div>
  </mat-card>


  <div class="text-right  m-3 fixed-bottom">
    <button mat-fab color="primary" class="fixed-bottom"> <i class="material-icons">create</i></button>
  </div>
</div>
